<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Camp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body >
        <div class="ui inverted menu" style="border-radius: 0px">
            <div class="container">
                <div class="header item">YelpCamp</div>
                <div class="right menu">
                    <% if(!currentUser){ %>
                        <div class="item"><a href="/register">Signup</a></div>
                        <div class="item"><a href="/login">Login</a></div>
                    <% }else{ %>
                        <div class="item"><a href="#">Signed In as <%= currentUser.username %></a></div>
                        <div class="item"><a href="/logout">Logout</a></div>
                    <% } %>
                </div>
                    
            </div>
        </div>
